<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.toucantutor.toucan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDQ74-CHRcRVDfMee1LJ3fBG5GEtWflyAE" />

        <activity
            android:name=".views.tutorlist.HomeScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".views.session.InSessionActivity" -->
        <!-- android:label="@string/title_activity_in_session" > -->
        <!-- </activity> -->
        <activity
            android:name=".views.session.StartSessionActivity"
            android:label="@string/title_activity_start_session" >
        </activity>
        <activity
            android:name=".views.session.SessionInProgressActivity"
            android:label="@string/title_activity_session_in_progress"
            android:parentActivityName=".views.session.StartSessionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.toucantutor.toucan.views.session.StartSessionActivity" />
        </activity>
        <activity
            android:name=".views.session.SessionSummaryActivity"
            android:label="@string/title_activity_session_summary"
            android:parentActivityName=".views.session.StartSessionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.session.StartSessionActivity" />
        </activity>
        <activity
            android:name=".views.tutorlist.TutorListActivity"
            android:label="@string/title_activity_tutor_list" >
        </activity>
        <activity
            android:name=".views.tutorlist.TutorDetailActivity"
            android:label="@string/title_activity_tutor_detail" >
        </activity>
        <activity
            android:name=".views.tutorlist.TutorChooseSubjectsActivity"
            android:label="@string/title_activity_tutor_choose_subjects" >
        </activity>
        <activity
            android:name=".views.courseList.CourseListActivity"
            android:label="@string/title_activity_course_list"
            android:parentActivityName=".views.tutorlist.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.toucantutor.toucan.views.tutorlist.HomeScreenActivity" />
        </activity>

        <activity
            android:name=".views.tutorlist.ChooseSubjectActivity"
            android:label="@string/title_activity_choose_subject" >
        </activity>
    </application>

</manifest>
